node_modules
**/node_modules
.pnpm-debug.log
.next
out
build
.turbo
.vscode
.idea
.DS_Store
.state
**/.state
.env
.env.local
**/.env
**/.env.local
**/*.log
deploy_*.log
frontend
contracts
docs
packages/agent/dist
packages/yield-agent-core/dist
